code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	min-width: 30%;
	min-height: 30%;
	backdrop-filter: blur(5px);
	background: rgba(0, 0, 0, 0);
	box-shadow: 5px 5px 5px 2px black;
	border-radius: 20px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	padding: 5px 10px;
	font-family: "Poppins", sans-serif;
}
.fa-heart {
	color: red;
	font-size: 25px;
	position: absolute;
	animation: heartMove linear 1;
	top: -10vh;
	z-index: 0;
}

@keyframes heartMove {
	0% {
		transform: translateY(-10vh);
	}
	100% {
		transform: translateY(110vh);
	}
}
body .mainHeart {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
body .mainHeart svg {
	margin-top: 0%;
	width: 82%;
}
body .mainHeart svg .drawHeart {
	fill: none;
	stroke: #d63b3b;
	stroke-linejoin: bevel;
	stroke-width: 3px;
	stroke-dasharray: 1867.0498046875;
	stroke-dashoffset: 1867.0498046875;
	animation: draw 3s linear 0.5s forwards;
}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
body .greeting {
	text-align: center;
	font-size: 24px;
	position: absolute;
	left: 0;
	height: 60px;
	line-height: 1;
	/* overflow: hidden; */
	display: flex;
	justify-content: center;
	width: 100%;
}
body .greeting .s {
	display: table-cell;
	padding: 0 1px;
	opacity: 0;
}
body .greeting .s.space {
	padding-left: 7px;
}
body .greeting .s.squeeze {
	margin-left: -2px;
}
